.control-group
  != form.label("id", false, {class: "control-label"})
  .controls
    != form.input("id")
.control-group
  != form.label("title", false, {class: "control-label"})
  .controls
    != form.input("title")
.control-group
  != form.label("description", false, {class: "control-label"})
  .controls
    != form.input("description")
.control-group
  != form.label("ISBN", false, {class: "control-label"})
  .controls
    != form.input("ISBN")
.control-group
  != form.label("createdAt", false, {class: "control-label"})
  .controls
    != form.input("createdAt")
.control-group
  != form.label("modifiedAt", false, {class: "control-label"})
  .controls
    != form.input("modifiedAt")
