!=javascriptIncludeTag('books')
div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  ul.breadcrumb
    li
      a(href='/') Home
      span.divider /
    li
      != linkTo('books', pathTo.books())
      span.divider /
    li.active
      a(href='#') Edit book

  form(name="myForm" role='form' ng-app="createBookModule" ng-controller="createBookCtl" ng-submit="submit()")
    div.form-group.col-sm-6.col-md-4.col-sm-offset-3
      label(for='bookId') book id
      input.form-control(type='text' name="bookId" ng-model="bookId" id='bookId' placeholder='Enter id' required)
    div.form-group.col-sm-6.col-md-4.col-sm-offset-3
      label(for='bookTitle') book titlebookDescription
      input.form-control(type='text' name="bookTitle" ng-model="bookTitle" id='bookTitle' placeholder='Enter title' required)
    div.form-group.col-sm-6.col-md-4.col-sm-offset-3
      label(for='bookDescription') book description
      input.form-control(type='text' name="bookDescription" ng-model="bookDescription" id='bookDescription' placeholder='Enter description' required)
    div.form-group.col-sm-6.col-md-4.col-sm-offset-3
      label(for='bookISBN') book ISBN
      input.form-control(type='text' name="bookISBN" ng-model="bookISBN" id='bookISBN' placeholder='Enter ISBN' required)
      input(type="hidden", name="_csrf", value=token)
    button.col-sm-6.col-md-4.col-sm-offset-3.btn.btn-info(type='submit' ng-disabled="myForm.$invalid") Submit