ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li.active
       != linkTo('books', path_to.books())

.page-header
  h1 Index of books


.row
  .span12
     p
        != linkTo('<i class="icon-plus icon-white"></i> New book', path_to.new_book(), {class: 'btn btn-primary'})

- if (books.length) {
.row
  .span12
     table.table.table-striped
       thead
         tr
           th ID
           th.span3 Actions
       tbody
         - books.forEach(function (book) {
         tr
           td
             != linkTo('book #' + book.id, path_to.book(book))
           td
             != linkTo('<i class="icon-edit"></i> Edit', pathTo.edit_book(book), {class: 'btn btn-mini'}) + ' '
             != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.book(book), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
         - });
- } else{
.row
  .span12
     p.alert.alert-block.alert-info
        strong No books were found.
- }
