ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != linkTo('books', pathTo.books())
       span.divider /
    li.active
       a(href='#') New book

.page-header
  h1 New book

- var form = formFor(book, {action: pathTo.books(), method: 'POST', id: "book_form", class: 'form-horizontal'})

!= form.begin()
include _form
.form-actions
  != form.submit('<i class="icon-ok icon-white"></i>  Create book', {class: 'btn btn-primary'})
  span= ' or '
  != linkTo('Cancel', pathTo.books(), {class: 'btn'})
!= form.end()
