div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  ol.breadcrumb
    li
       a(href='#') Home
    li
       a(href='#') Library
    li.active
       | Data

  h1.page-header Dashboard
  div.row.placeholders
      div.col-xs-6.col-sm-3.placeholder
      div.col-xs-6.col-sm-3.placeholder
      div.col-xs-6.col-sm-3.placeholder
  h2.sub-header section title
  div.table-responsive
      table.table.table-striped
          thead
            tr
              th
                | #
              th
                | header
              th
                | header
              th
                | header
              th
                | header
          tbody
            tr
              td
                | 1001
              td
                | jsdhjhj
              td
                | qqq
              td
                | dddd
              td
                | dfdfd
            tr
              td
                | 1001
              td
                | jsdhjhj
              td
                | qqq
              td
                | dddd
              td
                | dfdfd
            tr
              td
                | 1001
              td
                | jsdhjhj
              td
                | qqq
              td
                | dddd
              td
                | dfdfd
            tr
              td
                | 1001
              td
                | jsdhjhj
              td
                | qqq
              td
                | dddd
              td
                | dfdfd

      ul.pagination
          li.disabled
              a(href='#') &laquo;
          li.active
              a(href='#') 1
                 span.sr-only (current)
          li
              a(href='#') 2
          li
              a(href='#') 3
          li
              a(href='#') 4
          li
              a(href='#') 5
          li
              a(href='#') 6
          li
              a(href='#') &raquo;