html(lang="en")
    head
        title 'sfdssds'
        script
    body
        div
            p
                | fdgkjfgfldkx

            include ../login/logina

            include ../man/init.jade